{%- extends '../base/base.twig' -%}
{% set pageTitle = 'Starter Theme - Components' %}
{% set pageTemplate = 'components' %}
{% set pageClass = '' %}

{%- block mainContent %}
    {% include "../components/banner.twig" %}

    <div class="inner-wrap">
        <br>
        <br>

        <h2 class="a-title-1">Niveau de titre 1 (a-title-1)</h2>
        <h2 class="a-title-2">Niveau de titre 2 (a-title-2)</h2>
        <h2 class="a-title-3">Niveau de titre 3 (a-title-3)</h2>
        <h2 class="a-title-4">Niveau de titre 4 (a-title-4)</h2>

        <br>
        <br>

        <p class="a-title-1 as--underline-hover">Texte de plusieurs lignes qui est soulignée progressivement
            lors du survol de la souris
        </p>

        <br>
        <br>
        <br>

        <h2 class="a-title-2 h-mb-10">Base icons</h2>
        {% set aIcons = [
            "arrow-down",
            "arrow-left",
            "burger",
            "close",
            "search",
        ] %}
        {% for iconName in aIcons %}
            {{ macros.svg(iconName,'25','as--secondary') }}
        {% endfor %}

        <br>
        <br>
        <br>


        <h2 class="a-title-2 h-mb-10">Buttons</h2>
        {{ macros.btnButton('Bouton classique','') }}
        {{ macros.btnButton('Bouton alternatif','as--secondary') }}
        {{ macros.btnButton('Bouton blanc','as--white') }}
        {{ macros.btnButton('Bouton transparent','as--ghost') }}
        {{ macros.btnButton('','as--icon-only', 'arrow-down', '25', 'Passer à la slide suivante') }}
        {{ macros.btnButton('','as--icon-only as--secondary', 'arrow-down', '20', 'Passer à la slide suivante') }}
        {{ macros.btnButton('','as--icon-only as--white', 'arrow-down', '15', 'Passer à la slide suivante') }}
        {{ macros.btnButton('','as--icon-only as--ghost', 'arrow-down', '12', 'Passer à la slide suivante') }}
        {{ macros.btnButton('Texte et icône','', 'arrow-down', '15') }}
        {{ macros.btnButton('Texte et icône','as--icon-right', 'arrow-down', '15') }}
        {{ macros.btnButton('Texte et icône','as--icon-top', 'arrow-down', '15') }}
        {{ macros.btnButton('Texte et icône','as--icon-bottom', 'arrow-down', '15') }}
        <button class="a-button" data-text-hover="Cas d'étude">Animation au survol</button>
        {{ macros.btnButton('Bouton Désactivé','','','','',{'disabled': ''}) }}

        <br>
        <br>
        <br>

        <h2 class="a-title-2 h-mb-10">Liens</h2>
        {{ macros.btnLink('Bouton classique','', '#_') }}
        {{ macros.btnLink('Bouton alternatif','as--secondary', '#_') }}
        {{ macros.btnLink('Bouton blanc','as--white', '#_') }}
        {{ macros.btnLink('Bouton transparent','as--ghost', '#_') }}
        {{ macros.btnLink('','as--icon-only', '#_', 'arrow-down', '25', 'Passer à la slide suivante') }}
        {{ macros.btnLink('','as--icon-only as--secondary', '#_', 'arrow-down', '20', 'Passer à la slide suivante') }}
        {{ macros.btnLink('','as--icon-only as--white', '#_', 'arrow-down', '15', 'Passer à la slide suivante') }}
        {{ macros.btnLink('','as--icon-only as--ghost', '#_', 'arrow-down', '12', 'Passer à la slide suivante') }}
        {{ macros.btnLink('Texte et icône','', '#_','arrow-down', '15') }}
        {{ macros.btnLink('Texte et icône','as--icon-right', '#_', 'arrow-down', '15') }}
        {{ macros.btnLink('Texte et icône','as--icon-top', '#_', 'arrow-down', '15') }}
        {{ macros.btnLink('Texte et icône','as--icon-bottom', '#_', 'arrow-down', '15') }}
        <a href="#_" class="a-button" data-text-hover="Cas d'étude">Animation au survol</a>

        <br>
        <br>
        <br>

        <h2 class="a-title-2 h-mb-10">Spans</h2>
        {{ macros.btnSpan('Bouton classique','') }}
        {{ macros.btnSpan('Bouton alternatif','as--secondary') }}
        {{ macros.btnSpan('Bouton blanc','as--white') }}
        {{ macros.btnSpan('Bouton transparent','as--ghost') }}
        {{ macros.btnSpan('','as--icon-only', 'arrow-down', '25') }}
        {{ macros.btnSpan('','as--icon-only as--secondary', 'arrow-down', '20') }}
        {{ macros.btnSpan('','as--icon-only as--white', 'arrow-down', '15') }}
        {{ macros.btnSpan('','as--icon-only as--ghost', 'arrow-down', '12') }}
        {{ macros.btnSpan('Texte et icône','', 'arrow-down', '15') }}
        {{ macros.btnSpan('Texte et icône','as--icon-right', 'arrow-down', '15') }}
        {{ macros.btnSpan('Texte et icône','as--icon-top', 'arrow-down', '15') }}
        {{ macros.btnSpan('Texte et icône','as--icon-bottom', 'arrow-down', '15') }}
        <span class="a-button" data-text-hover="Cas d'étude">Animation au survol</span>

        <br>
        <br>
        <br>

        <h2 class="a-title-2 h-mb-10">Tooltips</h2>
        <div class="h-ml-150">
            <a href="#_" class="a-tip">
                {{ macros.btnSpan('','as--icon-only', 'close', '20') }}
                <span class="tip-text as--left">Tooltip à gauche</span>
            </a>

            <a href="#_" class="a-tip">
                {{ macros.btnSpan('','as--icon-only', 'close', '20') }}
                <span class="tip-text as--bottom">Tooltip en bas</span>
            </a>

            <a href="#_" class="a-tip">
                {{ macros.btnSpan('','as--icon-only', 'close', '20') }}
                <span class="tip-text as--top">Tooltip en haut</span>
            </a>

            <a href="#_" class="a-tip">
                {{ macros.btnSpan('','as--icon-only', 'close', '20') }}
                <span class="tip-text as--right">Tooltip à droite</span>
            </a>
        </div>


        <div class="editor-wysiwyg">
            <h2>Simulation d'un titre h2</h2>
            <p>Paragraphe intro, lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <h3>Simulation d'un titre h3</h3>
            <p>Paragraphe plus fourni, avec divers exemples de styles de textes comme <strong>du texte important</strong>
                (à ne pas confondre avec un <b>texte en gras</b>) en premier, puis<i> du texte italique</i> et <s>du
                texte barré</s>, ensuite il y a du <sup>texte à la puissance</sup> et <sub>du texte à l'exposant</sub>,
                avant de finir avec <a href="#_">un lien</a> qui ne pointe vers nulle part vu que c'est une page d'intégration.
            </p>

            <ul>
                <li><p>Ceci est une liste non ordonnée <a href="#_">(qui peut comporter un lien comme ceci)</a></p></li>
                <li>
                    <ul>
                        <li>qui consiste</li>
                        <li>en plusieurs points</li>
                    </ul>
                </li>
                <li>et dont le <i>style de texte</i> peut <b>varier</b></li>
            </ul>

            <ol>
                <li>Premier point de la liste ordonnée</li>
                <li>Deuxième point de la liste ordonnée</li>
                <li>Troisème point de la liste ordonnée</li>
            </ol>

            <p>Une abbréviation telle que <abbr title="World Wide Web">WWW</abbr> peut ainsi être expliquée.</p>

            <dl>
                <dt>Liste</dt>
                <dd>Ensemble fini d'éléments énumérés avec ou sans ordre précis</dd>

                <dt>de</dt>
                <dd>Préposition après un verbe ou un nom</dd>

                <dt>définitions</dt>
                <dd>Formule qui donne le sens d'un mot</dd>
            </dl>
        </div>

        {# Double columns #}
        <div class="editor-wysiwyg">
            <ul class="editor-col">
                {% for i in 1..2 %}
                    <li class="col">
                        <div class="editor-img as--conserved-ratio">
{#                            <picture>#}
                                <img src="https://picsum.photos/1000/40{{ i }}" alt="Texte alternatif" width="1000" height="400">
{#                            </picture>#}
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                            posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                            eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                            commodo sagittis leo. Cras quis risus massa.
                        </p>
                        {{ macros.btnLink('Bouton classique','', '#_') }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Triple columns #}
        <div class="editor-wysiwyg">
            <ul class="editor-col">
                {% for i in 1..3 %}
                    <li class="col">
                        <div class="editor-img as--conserved-ratio">
                            {#                            <picture>#}
                            <img src="https://picsum.photos/600/30{{ i }}" alt="Texte alternatif" width="600" height="300">
                            {#                            </picture>#}
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                            posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                            eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                            commodo sagittis leo. Cras quis risus massa.
                        </p>
                        {{ macros.btnLink('Bouton classique','', '#_') }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Quadruple columns #}
        <div class="editor-wysiwyg">
            <ul class="editor-col">
                {% for i in 1..4 %}
                    <li class="col">
                        <div class="editor-img as--conserved-ratio">
                            {#                            <picture>#}
                            <img src="https://picsum.photos/400/25{{ i }}" alt="Texte alternatif" width="400" height="250">
                            {#                            </picture>#}
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                            posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                            eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                            commodo sagittis leo. Cras quis risus massa.
                        </p>
                        {{ macros.btnLink('Bouton classique','', '#_') }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# 5 columns #}
        <div class="editor-wysiwyg">
            <ul class="editor-col">
                {% for i in 1..5 %}
                    <li class="col">
                        <div class="editor-img as--conserved-ratio">
                            {#                            <picture>#}
                            <img src="https://picsum.photos/400/22{{ i }}" alt="Texte alternatif" width="400" height="250">
                            {#                            </picture>#}
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                            posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                            eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                            commodo sagittis leo. Cras quis risus massa.
                        </p>
                        {{ macros.btnLink('Bouton classique','', '#_') }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Couple text + image #}
        <div class="editor-wysiwyg couple-content-img">
            <div class="content-side">
                <h2>Simulation de titre de niveau 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                    commodo sagittis leo. Cras quis risus massa.Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Sed orci mauris, sagittis in ex vel, posuere euismod leo. Etiam sodales, libero sed porta
                    pulvinar, velit sem vehicula nulla, eget suscipit massa erat id justo. Suspendisse neque turpis,
                    accumsan non tortor non, commodo sagittis leo. Cras quis risus massa.
                </p>
                <ul>
                    {% for i in 1..4 %}
                        <li>liste à puce</li>
                    {% endfor %}
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    <a href="#_">eget suscipit massa erat id justo.</a>
                </p>
            </div>
            <div class="editor-img as--conserved-ratio">
{#                <picture>#}
                    <img src="https://picsum.photos/800/490" alt="Texte alternatif" width="800" height="490">
{#                </picture>#}
            </div>
        </div>

        {# Inversed couple text + image #}
        <div class="editor-wysiwyg couple-content-img as--reverse">
            <div class="content-side">
                <h2>Simulation de titre de niveau 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                    commodo sagittis leo. Cras quis risus massa.Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Sed orci mauris, sagittis in ex vel, posuere euismod leo. Etiam sodales, libero sed porta
                    pulvinar, velit sem vehicula nulla, eget suscipit massa erat id justo. Suspendisse neque turpis,
                    accumsan non tortor non, commodo sagittis leo. Cras quis risus massa.
                </p>
                <ul>
                    {% for i in 1..4 %}
                        <li>liste à puce</li>
                    {% endfor %}
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    <a href="#_">eget suscipit massa erat id justo.</a>
                </p>
            </div>
            <div class="editor-img as--conserved-ratio">
                {#                <picture>#}
                <img src="https://picsum.photos/800/490" alt="Texte alternatif" width="800" height="490">
                {#                </picture>#}
            </div>
        </div>

        {# Couple text + large image #}
        <div class="editor-wysiwyg couple-content-img as--bigger-img">
            <div class="content-side">
                <h2>Simulation de titre de niveau 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                    commodo sagittis leo. Cras quis risus massa.Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Sed orci mauris, sagittis in ex vel, posuere euismod leo. Etiam sodales, libero sed porta
                    pulvinar, velit sem vehicula nulla, eget suscipit massa erat id justo. Suspendisse neque turpis,
                    accumsan non tortor non, commodo sagittis leo. Cras quis risus massa.
                </p>
                <ul>
                    {% for i in 1..4 %}
                        <li>liste à puce</li>
                    {% endfor %}
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    <a href="#_">eget suscipit massa erat id justo.</a>
                </p>
            </div>
            <div class="editor-img as--conserved-ratio">
{#                <picture>#}
                <img src="https://picsum.photos/1200/600" alt="Texte alternatif" width="1200" height="600">
{#                </picture>#}
            </div>
        </div>

        {# Inversed couple text + large image #}
        <div class="editor-wysiwyg couple-content-img as--bigger-img as--reverse">
            <div class="content-side">
                <h2>Simulation de titre de niveau 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    eget suscipit massa erat id justo. Suspendisse neque turpis, accumsan non tortor non,
                    commodo sagittis leo. Cras quis risus massa.Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Sed orci mauris, sagittis in ex vel, posuere euismod leo. Etiam sodales, libero sed porta
                    pulvinar, velit sem vehicula nulla, eget suscipit massa erat id justo. Suspendisse neque turpis,
                    accumsan non tortor non, commodo sagittis leo. Cras quis risus massa.
                </p>
                <ul>
                    {% for i in 1..4 %}
                        <li>liste à puce</li>
                    {% endfor %}
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci mauris, sagittis in ex vel,
                    posuere euismod leo. Etiam sodales, libero sed porta pulvinar, velit sem vehicula nulla,
                    <a href="#_">eget suscipit massa erat id justo.</a>
                </p>
            </div>
            <div class="editor-img as--conserved-ratio">
                {#                <picture>#}
                <img src="https://picsum.photos/1200/600" alt="Texte alternatif" width="1200" height="600">
                {#                </picture>#}
            </div>
        </div>

        <div class="editor-wysiwyg as--list-2columns">
            <ul>
                <li>Cette liste</li>
                <li>possède</li>
                <li>un pouvoir</li>
                <li>magique</li>
                <li>car elle peut se séparer en plusieurs colonnes avec des tailles équitablement réparties, ce qui
                peut s'avérer très pratique bien que cela ne fonctionne que sur le plan vertical et non horizontal.
                Cette prouesse technique est rendue facilement utilisable et accessible</li>
                <li>grâce à</li>
                <li>la propriété CSS "columns".</li>
                <li>Par contre,</li>
                <li>on indique que les éléments enfants de cette liste ne peuvent pas être coupés</li>
                <li>grâce à une autre propriété CSS</li>
                <li>qui est "break-inside: avoid".</li>
            </ul>
        </div>

        {# Testimony #}
        <div class="editor-wysiwyg testimonial">
            <div class="editor-img testimonial-image as--conserved-ratio">
                <picture>
                    <img src="../assets/img/uploads/portrait.jpg" alt="Photo de Marie Plassard, la témoignante" width="300" height="450">
                </picture>
            </div>
            <div class="testimonial-content">
                <q>" L'album <cite>Moon Music</cite> de Coldplay nous transporte littéralement dans un autre univers,
                combinant poésie, émotions brutes et productions sonores d'une richesse inouïe. Dès les premières
                notes, la voix de Chris Martin atteint un équilibre parfait entre fragilité et puissance, pour toucher
                directement notre âme. Les paroles qui évoquent une quête d'amour et d'émerveillement, se mélangent avec
                une touche cosmique qui semble audacieuse. "</q>
                <p class="testimonial-author">Marie Plassard</p>
                <p class="testimonial-author">Pianiste professionelle</p>
            </div>
        </div>

        {# Large image with paralax #}
        <div class="editor-wysiwyg">
            <div class="editor-img as--parallax">
                <picture>
                    <img src="https://picsum.photos/1680/700" alt="Texte alternatif" width="1680" height="700">
                </picture>
            </div>
        </div>


{#        <div class="editor-wysiwyg">#}
{#            <h3>Plain Buttons</h3>#}
{#            {{ macros.btnLink('Plain button','','#_') }}#}
{#            {{ macros.btnButton('','as--icon-only','leaf','25') }}#}
{#            {{ macros.btnLink('Plain - icon left','as--icon','#_','prev','12','left') }}#}
{#            {{ macros.btnLink('Plain - icon right','as--icon','#_','next','12','right') }}#}

{#            {{ macros.btnButton('','as--icon-only as--circle','leaf','35') }}#}

{#            <br>#}
{#            <br>#}

{#            <h3>Ghost buttons</h3>#}
{#            {{ macros.btnLink('Ghost button','as--ghost') }}#}
{#            {{ macros.btnLink('','as--icon-only as--ghost','#_','leaf','25') }}#}
{#            {{ macros.btnLink('Ghost - icon left','as--icon as--ghost','#_','prev','12','left') }}#}
{#            {{ macros.btnLink('Ghost - icon right','as--icon as--ghost','#_','next','12','right') }}#}

{#            {{ macros.btnLink('','as--icon-only as--ghost as--circle','#_','leaf','35') }}#}

{#            <br>#}
{#            <br>#}

{#            <h3>Buttons state</h3>#}
{#            {{ macros.btnLink('Loading','as--loading','#_') }}#}
{#            {{ macros.btnLink('No hover','as--no-hover','#_') }}#}
{#            {{ macros.btnLink('Disabled','as--disabled','#_') }}#}
{#            {{ macros.btnLink('Disabled','as--disabled as--ghost','#_') }}#}

{#            <br>#}
{#            <br>#}

{#            <h3>Tooltips</h3>#}
{#            <a href="#_" class="a-tip as--left h-mr-25">#}
{#                {{ macros.btnButton('','as--icon-only as--circle','leaf','35') }}#}
{#                <span class="a-tip-text">Tooltip text left</span>#}
{#            </a>#}

{#            <a href="#_" class="a-tip as--top h-mr-25">#}
{#                {{ macros.btnButton('','as--icon-only as--ghost as--circle','tiktok','35') }}#}
{#                <span class="a-tip-text">Tooltip text top</span>#}
{#            </a>#}

{#            <a href="#_" class="a-tip as--bottom h-mr-25">#}
{#                {{ macros.btnButton('','as--icon-only as--circle','twitter','35') }}#}
{#                <span class="a-tip-text">Tooltip text bottom</span>#}
{#            </a>#}

{#            <a href="#_" class="a-tip as--right h-mr-25">#}
{#                {{ macros.btnButton('','as--icon-only  as--ghost as--circle','twitch','35') }}#}
{#                <span class="a-tip-text">Tooltip text right</span>#}
{#            </a>#}



{#            <a href="#_" class="a-tip as--left">#}
{#                {{ macros.svg('leaf','25','') }}#}
{#                <span class="a-tip-text">Tooltip text left</span>#}
{#            </a>#}

{#            <a href="#_" class="a-tip as--bottom">#}
{#                {{ macros.svg('leaf','25','') }}#}
{#                <span class="a-tip-text">Tooltip text bottom</span>#}
{#            </a>#}

{#        </div>#}





{#        <div class="editor-wysiwyg">#}
{#            <h3>Slider</h3>#}
{#            <div class="slider-wrap slider-simple">#}
{#                <div class="slider" data-slick='{"infinite": false, "dots": true, "adaptiveHeight": true}'>#}
{#                    {% for i in 1..3 %}#}
{#                        <div>#}
{#                            <img src="../assets/img/uploads/chat.jpg" width="1650" height="650" alt="" >#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="slider-controls">#}
{#                    {{ macros.svg('prev','20','slick-prev') }}#}
{#                    {{ macros.svg('next','20','slick-next') }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="editor-wysiwyg">#}
{#            <h3>Modal</h3>#}
{#            <p class="h-mt-15">#}
{#                <a href="#modal_1" class="a-button" data-modal>Open modal</a>#}
{#            </p>#}

{#            <div id="modal_1" class="modal">#}
{#                <div class="inner-modal">#}
{#                    <div class="editor-wysiwyg">#}
{#                        <h2>Modal content</h2>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae fugiat impedit laborum maxime natus odit quaerat quasi, saepe voluptate!</p>#}
{#                    </div>#}
{#                    <p class="h-align-right">#}
{#                        <a href="#" class="a-button" rel="modal:close">Close this modal</a>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="editor-wysiwyg">#}
{#            <h3>Pocast Player</h3>#}
{#            <p class="h-mt-15">#}
{#                <a href="../assets/mp3/test-podcast1.mp3" data-podcast-title="Témoignage #1" class="a-button  as--ghost js-open-podcast">Ecouter le témoignage #1</a>#}
{#                <a href="../assets/mp3/test-podcast2.mp3" data-podcast-title="Témoignage #2" class="a-button  as--ghost js-open-podcast">Ecouter le témoignage #2</a>#}
{#            </p>#}
{#        </div>#}

{#        <div class="editor-wysiwyg">#}
{#            <h3>Video asyn load with img poster</h3>#}
{#            {% set videoId = [#}
{#                'Z1HT0E1-RFQ',#}
{#                'QmSFN_HMn4Y',#}
{#            ]#}
{#            %}#}
{#            <div class="editor-col">#}
{#                {% for myVid in videoId %}#}
{#                    <div class="col">#}
{#                        <div class="m_video">#}
{#                            <div class="m_video-media editor-wysiwyg-video" data-id="{{ myVid }}">#}
{#                                <div class="m_video-player">#}
{#                                    {{ macros.svg('next','20','as--white') }}#}
{#                                </div>#}
{#                                <img src="https://img.youtube.com/vi/{{ myVid }}/0.jpg" alt="" loading="lazy">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

{#        <div class="editor-wysiwyg">#}
{#            <h3>Revealer <small>(10 elements total, 2 visible, show 6 more)</small></h3>#}
{#            <div class="reveal-container" data-reveal-init="2">#}
{#                 WARNING : pour Imagify, ne pas mettre une classe sur une image car#}
{#                        elle sera déportée sur la balise picture au dessus et enlevée de la balise img.#}
{#                        Préférer les styles sur un wrapper de picture / img avec si besoin des styles#}
{#                        juste sur la balise img#}
{#                <ul>#}
{#                    {% for i in 1..10 %}#}
{#                        <li class="reveal-item">#}
{#                            <picture>#}
{#                            <img src="https://via.placeholder.com/400x280&text=IMG-{{ i }}" width="400" height="280" alt="img #{{ i }}" loading="lazy">#}
{#                            </picture>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#                <button type="button" class="a-button reveal-cta">Voir plus</button>#}
{#            </div>#}
{#        </div>#}

{#        <div class="editor-wysiwyg">#}
{#            <h3>Nested accordion</h3>#}
{#            <ul class="accordion">#}
{#                <li>#}
{#                    <div class="accordion-title">Accordion title #1</div>#}
{#                    <div class="accordion-content">#}
{#                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                        Dicta ducimus earum ex fugiat non, nostrum quae quasi saepe#}
{#                        vel vitae! Enim, maiores.<br>#}
{#                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque eius ipsum magni.#}
{#                        Aliquam ducimus et fugit nemo. Autem beatae exercitationem iusto nam, nesciunt pariatur!#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <div class="accordion-title">Accordion title #2</div>#}
{#                    <div class="accordion-content">#}
{#                        <ul class="accordion-nested">#}
{#                            <li>#}
{#                                <div class="accordion-nested-title">Nested accordion title #1</div>#}
{#                                <div class="accordion-content">#}
{#                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                    Dicta ducimus earum ex fugiat non, nostrum quae quasi saepe#}
{#                                    vel vitae! Enim, maiores#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <div class="accordion-nested-title">Nested accordion title #2</div>#}
{#                                <div class="accordion-content">#}
{#                                    Aperiam assumenda at atque, corporis cum deserunt dolore dolorum,#}
{#                                    eaque harum labore magnam, praesentium rem similique sint soluta vel veritatis. Impedit natus pariatur quasi quia, sequi suscipit.#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}

{#        <br>#}
{#        <br>#}
{#        <br>#}


        {#      Il faut caler une balise <article></article> en guise d'article de blog par exemple#}
        {#      Il faut caler une balise <adress></adress> dans le footer #}
</div>
{% endblock mainContent -%}


