<header id="header" class="inner-header" role="banner">
    <a href="#_" class="editor-img logo" title="Retour à la page d'accueil">
        <img src="../assets/img/logos/logo.png" alt="logo">
    </a>

    <nav class="nav-menu" role="navigation">
        <ul class="as--hidden-navbar">
            <li class="nav-item">
                <a href="#_" class="nav-item-name">
                    Lien 1 (sous-menu avec lien)
                    {{ macros.svg('arrow-down','20','as--black h-show-mobile') }}
                </a>
                <div class="nav-submenu">
                    <button class="close-submenu h-show-mobile" tabindex="-1">
                        {{ macros.svg('arrow-left','12','as--text') }}
                        Retour
                    </button>
                    <ul class="as--hidden-navbar">
                        <li class="h-show-mobile">
                            <a href="#_" class="submenu-title">Lien 1 (sous-menu avec lien)</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 1</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 2</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 3</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-item-name" tabindex="-1">
                    Lien 2 (sous-menu sans lien)
                    {{ macros.svg('arrow-down','20','as--text h-show-mobile') }}
                </button>
                <div class="nav-submenu">
                    <button class="close-submenu h-show-mobile" tabindex="-1">
                        {{ macros.svg('arrow-left','12','as--text') }}
                        Retour
                    </button>
                    <ul class="as--hidden-navbar">
                        <li class="h-show-mobile">
                            <span class="submenu-title"> Lien 2 (sous-menu sans lien)</span>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 1</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item active">
                <a href="#_" class="nav-item-name">Lien 3 (aucun sous-menu)</a>
            </li>
            <li class="h-show-mobile">
                {{ macros.btnLink('Nous contacter','h-bg-secondary h-uppercase h-mt-10','#_') }}
            </li>
        </ul>
    </nav>

    <div class="user-actions">
        <button class="open-searchbar">
            {{ macros.svg('search','25','as--text') }}
            <span class="sr-only">Ouvrir le moteur de recherche interne</span>
        </button>

        <button class="open-mobile-menu h-show-mobile" tabindex="-1">
            {{ macros.svg('burger','35','as--text') }}
            <span class="sr-only">Ouvrir le menu mobile</span>
        </button>
        <button class="close-mobile-menu h-show-mobile is-hidden" tabindex="-1">
            {{ macros.svg('close','25','as--text') }}
            <span class="sr-only">Fermer le menu mobile</span>
        </button>
    </div>

    <span class="nav-indicator"></span>
</header>


<search class="searchbar">
    {{ macros.btnButton('','as--icon-only close-searchbar', 'close', '20', 'Fermer le moteur de recherche interne', {'z-index': '-1'}) }}
    <form action="" method="POST" class="inline-form">
        <label for="search-terms" class="sr-only">Rechercher par mots clés</label>
        <input type="search" id="search-terms" placeholder="Mots clés" tabindex="-1">
        <button type="submit" class="a-button" tabindex="-1">Rechercher</button>
    </form>
</search>