<header class="inner-header" role="banner">
    <a href="#_" class="editor-img logo" title="Retour à la page d'accueil" tabindex="1">
        <img src="../assets/img/logos/logo.png" alt="logo">
    </a>

    <nav class="nav-menu" role="navigation" aria-label="Menu principal" aria-expanded="false">
        <ul class="hidden-navbar">
            <li class="nav-item">
                <a href="#_" class="nav-item-name">
                    Lien 1 (sous-menu avec lien)
                    {{ macros.svg('arrow-down','20','as--black h-show-mobile') }}
                </a>
                <div class="nav-submenu" aria-expanded="false">
                    <button class="close-submenu h-show-mobile">
                        {{ macros.svg('arrow-left','12','as--text') }}
                        Retour
                    </button>
                    <ul class="hidden-navbar">
                        <li class="h-show-mobile">
                            <a href="#_" class="submenu-title">Lien 1 (sous-menu avec lien)</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 1</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 2</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 3</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-item-name">
                    Lien 2 (sous-menu sans lien)
                    {{ macros.svg('arrow-down','20','as--text h-show-mobile') }}
                </button>
                <div class="nav-submenu" aria-expanded="false">
                    <button class="close-submenu h-show-mobile">
                        {{ macros.svg('arrow-left','12','as--text') }}
                        Retour
                    </button>
                    <ul class="hidden-navbar">
                        <li class="h-show-mobile">
                            <span class="submenu-title"> Lien 2 (sous-menu sans lien)</span>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 1</a>
                        </li>
                        <li>
                            <a href="#_">Sous-menu 2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item active">
                <a href="#_" class="nav-item-name">Lien 3 (aucun sous-menu)</a>
            </li>
            <li class="h-show-mobile">
                {{ macros.btnLink('Nous contacter','h-bg-secondary h-uppercase h-mt-10','#_') }}
            </li>
        </ul>
    </nav>

    <div class="user-actions">
        <button class="open-searchbar">
            {{ macros.svg('search','25','as--text') }}
            <span class="screen-reader-only">Ouvrir le moteur de recherche interne</span>
        </button>
        <button class="close-searchbar as--hidden">
            {{ macros.svg('close','25','as--text') }}
            <span class="screen-reader-only">Fermer le moteur de recherche interne</span>
        </button>

        <button class="open-mobile-menu h-show-mobile" tabindex="1" aria-controls="mobile-menu">
            {{ macros.svg('burger','35','as--text') }}
            <span class="screen-reader-only">Ouvrir le menu mobile</span>
        </button>
        <button class="close-mobile-menu h-show-mobile as--hidden" tabindex="1">
            {{ macros.svg('close','25','as--text') }}
            <span class="screen-reader-only">Fermer le menu mobile</span>
        </button>
    </div>

    <div class="searchbar" aria-expanded="false">
        <form action="" method="POST">
            <input type="search" id="search-terms" placeholder="Mots clés" aria-label="Rechercher des contenus sur le site" tabindex="-1">
            <button type="submit" class="a-button" tabindex="-1">Rechercher</button>
        </form>
    </div>

    <span class="nav-indicator"></span>
</header>