{% set root = '../' %}
{% import "../macros/macros.twig" as macros %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {# SEO #}
    <title>{{ pageTitle }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {# CSS FONTS #}
    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    {% endblock %}

    {# CSS STYLES #}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ root }}assets/css/styles.min.css">
        <link rel="stylesheet" href="{{ root }}assets/css/styles.min.css" media="print">
    {% endblock %}

    {# FAVICONS #}
    {% block headFavicons %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ root }}assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ root }}assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ root }}assets/img/favicon/favicon-16x16.png">
{#        <link rel="manifest" href="{{ root }}assets/img/favicon/site.webmanifest">#}
        <link rel="mask-icon" href="{{ root }}assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
    {% endblock headFavicons %}
</head>

<body id="body" class="{{ pageClass }}">
{% block body %}
    {% block header %}
        {% include "../components/header.twig" %}
    {% endblock %}

    <main role="main" class="main-content">
            {% block mainContent "" %}
    </main>

    {% block footer %}
        {% include "../components/footer.twig" %}
    {% endblock %}
{% endblock body %}

{# JS SCRIPTS #}
{% block bottomScript %}
    <script defer src="{{ root }}/assets/js/script.min.js"></script>
{% endblock bottomScript %}
</body>
</html>